*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:cadetblue;
}
main{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
}
.paper{
    /* width: 40rem;
    height: 30rem; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
    padding: 2rem 2rem;
}
.question{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 0.2rem;
    /* padding: 2rem 1rem; */
    width: 20rem;
}

.option{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}
.opt{
    border: 1px solid black;
    /* width: 20rem; */
    font-size: 1.2rem;
    font-weight: 600;
    /* padding: 0.5rem 0.5rem; */
    width: 20rem;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.3rem;
}
.heading{
    font-size: 2rem;
    padding-left: 2rem;
}
#next{
    padding: 0.3rem 3rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.2rem;
}
#opa{
    background-color:red;
}